/* General styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/10_background/background2.png');
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'mexican', sans-serif;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    scroll-behavior: smooth;
}

canvas {
    background-color: black;
    display: block;
}

@font-face {
    font-family: 'mexican';
    src: url(./fonts/burrito.TTF) format('truetype');
}

h1 {
    font-size: 72px;
    letter-spacing: 3px;
    color: #F6BF00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.fullscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.defeatScreen {
    background-image: url('./img/11_WinDefeat/defeatScreen.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 820px;
    height: 480px;
}

.winScreen {
    background-image: url('./img/11_WinDefeat/winScreen.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 820px;
    height: 480px;
}

.startScreen {
    background-image: url('./img/11_WinDefeat/startScreen.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 820px;
    height: 480px;
}

.startScreen:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.d-none {
    display: none;
}

.controls-container p {
    font-size: 48px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #52DA1A;
    color: black;
    font-size: 36px;
}

.modal-body {
    padding: 2px 16px;
    color: black;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Control Button */
.control-setup-button {
    margin-top: 48px;
    background-color: #52DA1A;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: 'mexican';
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    touch-action: manipulation;
}

.control-setup-button:focus {
    outline: 0;
}

.control-setup-button:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.control-setup-button:hover:after {
    bottom: 2px;
    left: 2px;
}

/* Rotate Message */
.rotateMessage {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

/* Button styles */
.btn-mobile-wrapper {
    display: none;
    width: 100%;
    flex-direction: column;
}

.btn-mobile-flex {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.btn-mobile-wrapper {
    bottom: 40px;
    position: absolute;
}

.btn-mobile, .btn-mobile-bottle, .btn-mobile-jump {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 10px;
}

.btn-mobile {
    border: solid #52DA1A;
    padding: 10px;
    width: 30px;
    height: auto;
}

.btn-mobile-bottle {
    border: solid red;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.btn-mobile-jump {
    border: solid #52DA1A;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/* Mute and Volume Buttons */
.btn-mobile-mute, .btn-mobile-volume,
.btn-desktop-mute, .btn-desktop-volume {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    border: solid #52DA1A;
}

.btn-mobile-mute.active, .btn-desktop-mute.active {
    border: solid red;
}

.btn-mobile-mute:hover, .btn-mobile-volume:hover,
.btn-desktop-mute:hover, .btn-desktop-volume:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Restart Button */
#restartButton {
    display: none;
    padding: 10px 20px;
    background-color: #52DA1A;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 90%;
    transform: translateY(-50%);
    z-index: 1000;
    font-family: 'mexican';
}

#restartButton:hover {
    background-color: #45C619;
}

/* Responsive styles */
@media (max-width: 720px) {
    canvas {
        width: 100%;
    }

    @media (orientation: landscape) {
        h1 {
            display: none;
        }
    }
}

@media (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media (min-width: 768px) {
    .control-setup-button {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}

@media (max-width: 720px) and (orientation: portrait) {
    .rotateMessage {
        display: flex;
    }
}

@media (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
    h1 {
        display: none;
    }

    .startScreen,
    .defeatScreen,
    .winScreen {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .control-setup-button {
        display: none;
    }
}

@media (max-width: 1024px) {
    .btn-mobile-wrapper {
        display: flex !important;
    }

    .btn-mobile-mute {
        display: none;
    }
    
    .btn-mobile-volume {
        display: block;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    .btn-mobile-wrapper {
        display: flex !important;
    }
}

@media (min-width: 1025px) {
    .btn-desktop-mute {
        display: none;
    }

    .btn-desktop-volume {
        display: block;
    }
}

.footer-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-buttons button {
    background-color: #52DA1A;
    border: 0 solid #E5E7EB;
    color: #000000;
    font-family: 'mexican', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.footer-buttons button:hover {
    background-color: #45C619;
}

.footer-buttons button:focus {
    outline: none;
}

/* Mobile styles */
@media (max-width: 1024px) {
    .footer-buttons {
        flex-direction: column;
        position: fixed;
        top: 5px;
        left: 5px;
        margin: 0;
    }

    .footer-buttons button {
        margin: 5px 0;
        padding: 5px 10px;
        font-size: 1rem;
    }
}


.back-button {
    margin-top: 20px;
    background-color: #52DA1A;
    border: 0 solid #E5E7EB;
    color: #000000;
    font-family: 'mexican', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #45C619;
}

.back-button:focus {
    outline: none;
}

/* Landscape */
@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .btn-mobile-wrapper {
        display: flex !important;
    }
    h1 {
        display: none;
    }
}

/* Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .rotateMessage {
        display: flex; /* Rotate Message wird im Portrait-Modus für Geräte mit den angegebenen Abmessungen angezeigt */
    }
}

