body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/10_background/background2.png');    
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'mexican', sans-serif;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    margin: 0;
    scroll-behavior: smooth;

}

canvas {
    background-color: black;
    display: block;
}

@font-face {
    font-family: 'mexican';
    src: url(./fonts/mexican-fiesta.ttf) format('truetype');
}

h1 {
    
    font-size: 72px;
    letter-spacing: 3px;
    color: green;

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

.fullscreen{
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}

.defeatScreen{
    background-image: url('./img/11_WinDefeat/defeatScreen.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 820px;
    height: 480px;
}
.winScreen{
    background-image: url('./img/11_WinDefeat/winScreen.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 820px;
    height: 480px;
}

.d-none{
    display: none;
}